// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.session {
  background-color: #CCCCDD;
  border-radius: 9px;
  -moz-border-radius: 9px;
  border-style: solid;
  border-color: #AAAABB;
  border-width: 1px;
  margin-top: 9px;
  padding: 9px;
}

.section {
  font-weight: bold;
  color: #19191F;
}
